<header class="bg-dark">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4">
                <div style="max-width: 450px;">
                    <p class="fw-bold text-success mb-2">Special Offer</p>
                    <h2 class="fw-bold">The best solution for<br>you and your<br>customers</h2>
                    <p class="my-3">Dictumst magna ultricies justo auctor. Gravida morbi etiam id, magna lacinia
                        augue.</p>
                    <form class="d-flex justify-content-center flex-wrap justify-content-md-start flex-lg-nowrap"
                          method="post">
                        <div class="my-2 me-2"><input class="border rounded-pill shadow-sm form-control" type="email"
                                                      name="email" placeholder="Your Email"></div>
                        <div class="my-2">
                            <button class="btn btn-primary shadow" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-5 mx-lg-5"
                     style="background: url(&quot;assets/img/blob.svg&quot;) center / contain no-repeat;"><img
                        class="rounded img-fluid shadow w-100 fit-cover" style="min-height: 300px;"
                        src="assets/img/phone-screen.png"></div>
            </div>
        </div>
    </div>
</header>